# ========================
# Java & Spring Boot
# ========================
/yummy-radar-backend/target/
*.class
*.jar
*.war
*.log

# Application config & environment
/yummy-radar-backend/src/main/resources/application.yml
/yummy-radar-backend/.env

# Maven
/yummy-radar-backend/.mvn/
!yummy-radar-backend/.mvn/wrapper/maven-wrapper.jar
/yummy-radar-backend/mvnw
/yummy-radar-backend/mvnw.cmd

# Spring Tool Suite
/yummy-radar-backend/.apt_generated/
/yummy-radar-backend/.classpath
/yummy-radar-backend/.factorypath
/yummy-radar-backend/.project
/yummy-radar-backend/.settings/
/yummy-radar-backend/.springBeans/
/yummy-radar-backend/.sts4-cache/

# NetBeans
/yummy-radar-backend/nbproject/private/
/yummy-radar-backend/nbbuild/
/yummy-radar-backend/dist/
/yummy-radar-backend/nbdist/
/yummy-radar-backend/.nb-gradle/
/yummy-radar-backend/build/

# ========================
# Node.js / React (Frontend)
# ========================
/yummy-radar-frontend/node_modules/
/yummy-radar-frontend/dist/
/yummy-radar-frontend/dist-ssr/
/yummy-radar-frontend/.vite/

# Logs
/yummy-radar-frontend/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
/yummy-radar-frontend/.env
/yummy-radar-frontend/.env.*.local
/yummy-radar-frontend/*.local
/docs/

# Testing & coverage
/yummy-radar-frontend/coverage/

# ========================
# Editors & IDEs
# ========================
.vscode/
!.vscode/extensions.json
.idea/
*.iws
*.iml
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========================
# Operating System
# ========================
.DS_Store
Thumbs.db
